<ng-container *ngIf="true">
  <nav class="navbar navbar-expand-lg bg-white-color  position-fixed w-100 px-4"
    [class.shadow-none]="moduleType=='dashboard' && !toggleSideMenu"
    [class.dash]="moduleType=='dashboard' && !toggleSideMenu">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center m-0">
        <img src="/../../../assets/images/logo/logo.jpg" alt="logo" class="logo">
      </a>
      <button class="navbar-toggler border-0 gap-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-main-color fs-4"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end gap-2" id="navbarSupportedContent">
        <ul class="navbar-nav gap-3 align-items-center mb-2 mb-lg-0">
          <li class="nav-item ">
            <button class="secound-button" routerLink="/auth/login">{{'form.login'|translate}}</button>
          </li>
          <li class="nav-item ">
            <button class="main-button" routerLink="/auth/register">{{'form.signUp'|translate}}</button>
          </li>
          <li class="nav-item ">
            <app-theme></app-theme>
          </li>
          <li class="nav-item ">
            <app-language-selector></app-language-selector>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</ng-container>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex justify-content-center align-center">
        <input class="form-control me-2 search-button" type="search" placeholder="Search" aria-label="Search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link mx-1" routerLink="/home"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link mx-1" routerLink="/jop"><i class="fa-solid fa-briefcase"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-bell"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">
                <div class="notification">
                  <div class="notification-icon">
                    <img src="./../../../../assets/images/logo/logo.jpg" alt="Notification Icon">
                  </div>
                  <div class="notification-content">
                    <p class="notification-text">You have a new notification!</p>
                    <p class="notification-time">2 minutes ago</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link mx-1 text-white" routerLink="/home"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
