.navbar {
  background-color: transparent;
  transition: all 0.5s ease !important;
  height: 66px;
  top: 0;
  z-index: 66;
  .logo {
    width: 42px;
    height:42px;

  }
  .toggle.fa-bars {
    width: 40px;
    height: 40px;
    background-color: var(--bg-main-color);
    color: var(--text-white-color);
  }
}

.notification {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;

.notification-icon {
  margin-right: 10px;
  img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

}
.notification-content {
  flex: 1;

  .notification-text {
  font-weight: bold;
  margin: 0;
}
.notification-time {
  color: #777;
  margin: 0;
}

}
}
