
<div class="recent-col">
  <div>
    <span><i class="fa-solid fa-user-group"></i> User Experience(Ux) Designer… </span>
  </div>
  <div>
    <span><i class="fa-solid fa-user-group"></i> User Experience(Ux) Designer… </span>
  </div>
  <div>
    <span><i class="fa-solid fa-user-group"></i> User Experience(Ux) Designer… </span>
  </div>
  <div>
    <span><i class="fa-solid fa-user-group"></i> User Experience(Ux) Designer… </span>
  </div>
  <div>
    <span><i class="fa-solid fa-user-group"></i> User Experience(Ux) Designer… </span>
  </div>
  <div>
    <span><i class="fa-solid fa-user-group"></i> User Experience(Ux) Designer… </span>
  </div>
  <div>
    <span><i class="fa-solid fa-user-group"></i> User Experience(Ux) Designer… </span>
  </div>
  <div>
    <span><i class="fa-solid fa-user-group"></i> User Experience(Ux) Designer… </span>
  </div>
  <div>
    <span><i class="fa-solid fa-user-group"></i> User Experience(Ux) Designer… </span>
  </div>
  <div>
    <span><i class="fa-solid fa-user-group"></i> User Experience(Ux) Designer… </span>
  </div>
</div>

