.btn-solid-main {
  min-width: 7rem;
  color: var(--text-white-color);
  background-color: var(--bg-main-color);
  border-color: var(--text-main-color);
  border-radius: var(--border-button-radius);
  padding: 0.65rem 1.25rem;
  font-size: 1rem;
  position: relative;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.btn-solid-main:focus {
  color: var(--text-white-color) !important;
  background-color: var(--bg-main-color);
}
.apply {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 335px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
&:focus {
  color: #171e29;
}
&:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}
&:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}
}
.btn:disabled,
.btn:disabled:hover {
  opacity: 0.65;
  background-color: var(--bg-main-color);
  color: var(--text-white-color);
}
.main-button,
.form-btn,
.secound-button{
  width: 140px;
  height: 42px;
  border-radius:var(--border-radius);
  border: none;
  color: var(--white);
  background-color: var(--main-color);
  &:hover{
    outline: var(--bg-main-color) solid 1px;
  }
}
.secound-button{
  background-color:white;
  color: var(--main-color);
  &:hover{
    border:1px solid var(--bg-main-color)  ;

  }
}
.form-btn{
  width: 159px;
  height: 54px;
  border-radius:var( --border-button-radius);
}
.formcontrol-auth ,
.formcontrol-input
{
padding: 2rem 1rem;
border-radius: 100px;
}
.formcontrol-input{
 background-color: var(--white);
 color: var(--bg-main-color);
 border: 1px solid var(--bg-main-color);
}

@media (min-width: 768px) {
  // .apply {
  //   min-width: 170px;
  // }
}
