
  <div class="upper-section">
    <h1>Certification</h1>
    <div>
      <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#add">
        <i class="fa-solid fa-plus"></i>
      </a>
      <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-regular fa-pen-to-square"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="cards__item">
        <div class="circle">Icon</div>
        <div class="content">
          <h2>Ui/Ux</h2>
          <p>udemy.com</p>
          <p>isseud</p>
        </div>
      </div>
    </div>

  </div>

<!-- Modal -->
<div class="modal fade" id="editlang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-body">
          <div class="column" id="main">
            <h1>Sign Up </h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            <form>
              <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input type="name" class="form-control" id="exampleInputName" formControlName="" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">E-mail </label>
                <input type="email" class="form-control" id="exampleInputEmail1" formControlName="" aria-describedby="emailHelp" placeholder="E-mail">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"  formControlName="" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
          </div>
          <div>

            <svg width="67px" height="578px" viewBox="0 0 67 578" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
                <title>Path</title>
                <desc>Created with Sketch.</desc>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M11.3847656,-5.68434189e-14 C-7.44726562,36.7213542 5.14322917,126.757812 49.15625,270.109375 C70.9827986,341.199016 54.8877465,443.829224 0.87109375,578 L67,578 L67,-5.68434189e-14 L11.3847656,-5.68434189e-14 Z" id="Path" fill="#F9BC35"></path>
                </g>
            </svg>
          </div>
          <div class="column" id="secondary">
            <div class="sec-content">
              <h2>Welcome Back!</h2>
              <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
              <button type="button" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="addlang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-body">
      add
        </div>
      </div>

    </div>
  </div>
</div>



<form [formGroup]="certificationsForm" (ngSubmit)="certifications()">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" formControlName="title">

  <label for="issuer">Issuer:</label>
  <input type="text" id="issuer" name="issuer" formControlName="issuer" >

  <label for="issuedAt">Issued Date:</label>
  <input type="date" id="issuedAt" name="issuedAt" c >

  <label for="link">Certification Link:</label>

  <input type="url" id="link" name="link" formControlName="link" >

  <input type="submit" value="Submit">
</form>
