<div class="jop-page p-t-12">
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <app-recommended></app-recommended>
      </div>
      <div class="col-xl-6">
        <!-- Recommended for you -->
        <div class="recommended-you">
          <h6>Recommended for you</h6>

        </div>
      </div>
      <div class="col-xl-3">
        <!-- recent -->
        <div class="recommended-you">
          <h6>Recent</h6>
          <app-recent></app-recent>
        </div>
      </div>
    </div>
  </div>
</div>


fgdgdg
